attrs==19.1.0
blis==0.2.4
certifi==2019.3.9
chardet==3.0.4
cymem==2.0.2
en-core-web-sm==2.1.0
idna==2.8
isodate==0.6.0
jsonschema==3.0.1
murmurhash==1.0.2
nltk==3.3
numpy==1.16.4
plac==0.9.6
preshed==2.0.1
pyparsing==2.2.0
pyrsistent==0.15.2
rdflib==4.2.2
requests==2.22.0
six==1.11.0
spacy==2.1.4
SPARQLWrapper==1.8.2
srsly==0.0.5
thinc==7.0.4
tqdm==4.32.1
urllib3==1.26.5
wasabi==0.2.2
